html,
body,
#root {
  margin: 0;
  height: 100vh;
  overflow: hidden;
  box-sizing: border-box;
}
.grid-container{   height:calc(100% - 10px);
    padding:10px;
  display: flex;
box-sizing: border-box}


.grid-container {
  display: grid;

  grid-template-columns: 1fr;
  grid-template-rows: 48px 12fr 32px;
  grid-template-areas: "AppBar" "AppContent" "AppFooter";
  box-sizing: content-box;
  overflow: hidden;
}

.AppBar {
  display: grid;
  gap: 8px;
  grid-template-columns: 1fr 4fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "AppBrand AppNav AppActions";
  grid-area: AppBar;
}



.AppFooter {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "AppStatus AppInfo AppExtra";
  grid-area: AppFooter;
  border-top: 1px solid black;
}



.AppContent {
  /*display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "AppLeftContent AppCenterContent AppRightContent";
  */grid-area: AppContent;
  display: flex;
  flex-direction: row;
  margin:10px;
}


